body, html {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.warning {
    color: red;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.new_message {
    display : block;
}

input, textarea {
    margin-bottom: 5px;
    width: 200px;
    resize: none;
}

textarea {
    height: 100px;
}



